xml-resources/web-service-references/MWBService/wsdl/MWBService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.fhnw.ch/wi/eai/mwb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.fhnw.ch/wi/eai/mwb/" name="MWBService">
<types>
<xsd:schema>
<xsd:import namespace="http://www.fhnw.ch/wi/eai/mwb/" schemaLocation="http://127.0.0.1:8080/?xsd=1"/>
</xsd:schema>
</types>
<message name="holeKunde">
<part name="parameters" element="tns:holeKunde"/>
</message>
<message name="holeKundeResponse">
<part name="parameters" element="tns:holeKundeResponse"/>
</message>
<message name="listeKundeNachname">
<part name="parameters" element="tns:listeKundeNachname"/>
</message>
<message name="listeKundeNachnameResponse">
<part name="parameters" element="tns:listeKundeNachnameResponse"/>
</message>
<message name="printKunde">
<part name="parameters" element="tns:printKunde"/>
</message>
<message name="printKundeResponse">
<part name="parameters" element="tns:printKundeResponse"/>
</message>
<message name="holeMessgeraet">
<part name="parameters" element="tns:holeMessgeraet"/>
</message>
<message name="holeMessgeraetResponse">
<part name="parameters" element="tns:holeMessgeraetResponse"/>
</message>
<message name="listeMessIDForCustomer">
<part name="parameters" element="tns:listeMessIDForCustomer"/>
</message>
<message name="listeMessIDForCustomerResponse">
<part name="parameters" element="tns:listeMessIDForCustomerResponse"/>
</message>
<message name="listeMessID">
<part name="parameters" element="tns:listeMessID"/>
</message>
<message name="listeMessIDResponse">
<part name="parameters" element="tns:listeMessIDResponse"/>
</message>
<message name="printMessgeraete">
<part name="parameters" element="tns:printMessgeraete"/>
</message>
<message name="printMessgeraeteResponse">
<part name="parameters" element="tns:printMessgeraeteResponse"/>
</message>
<portType name="MWB">
<operation name="holeKunde">
<input wsam:Action="http://www.fhnw.ch/wi/eai/mwb/MWB/holeKundeRequest" message="tns:holeKunde"/>
<output wsam:Action="http://www.fhnw.ch/wi/eai/mwb/MWB/holeKundeResponse" message="tns:holeKundeResponse"/>
</operation>
<operation name="listeKundeNachname">
<input wsam:Action="http://www.fhnw.ch/wi/eai/mwb/MWB/listeKundeNachnameRequest" message="tns:listeKundeNachname"/>
<output wsam:Action="http://www.fhnw.ch/wi/eai/mwb/MWB/listeKundeNachnameResponse" message="tns:listeKundeNachnameResponse"/>
</operation>
<operation name="printKunde">
<input wsam:Action="http://www.fhnw.ch/wi/eai/mwb/MWB/printKundeRequest" message="tns:printKunde"/>
<output wsam:Action="http://www.fhnw.ch/wi/eai/mwb/MWB/printKundeResponse" message="tns:printKundeResponse"/>
</operation>
<operation name="holeMessgeraet">
<input wsam:Action="http://www.fhnw.ch/wi/eai/mwb/MWB/holeMessgeraetRequest" message="tns:holeMessgeraet"/>
<output wsam:Action="http://www.fhnw.ch/wi/eai/mwb/MWB/holeMessgeraetResponse" message="tns:holeMessgeraetResponse"/>
</operation>
<operation name="listeMessIDForCustomer">
<input wsam:Action="http://www.fhnw.ch/wi/eai/mwb/MWB/listeMessIDForCustomerRequest" message="tns:listeMessIDForCustomer"/>
<output wsam:Action="http://www.fhnw.ch/wi/eai/mwb/MWB/listeMessIDForCustomerResponse" message="tns:listeMessIDForCustomerResponse"/>
</operation>
<operation name="listeMessID">
<input wsam:Action="http://www.fhnw.ch/wi/eai/mwb/MWB/listeMessIDRequest" message="tns:listeMessID"/>
<output wsam:Action="http://www.fhnw.ch/wi/eai/mwb/MWB/listeMessIDResponse" message="tns:listeMessIDResponse"/>
</operation>
<operation name="printMessgeraete">
<input wsam:Action="http://www.fhnw.ch/wi/eai/mwb/MWB/printMessgeraeteRequest" message="tns:printMessgeraete"/>
<output wsam:Action="http://www.fhnw.ch/wi/eai/mwb/MWB/printMessgeraeteResponse" message="tns:printMessgeraeteResponse"/>
</operation>
</portType>
<binding name="MWBPortBinding" type="tns:MWB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="holeKunde">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listeKundeNachname">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="printKunde">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="holeMessgeraet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listeMessIDForCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listeMessID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="printMessgeraete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MWBService">
<port name="MWBPort" binding="tns:MWBPortBinding">
<soap:address location="http://127.0.0.1:8080/"/>
</port>
</service>
</definitions>